@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: "intro";
    src: url("fonts/intro.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard";
    color: #fff;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    -webkit-tap-highlight-color: transparent;
}
:root {
    --blue: #6457FE;
    --yellow: #FEEA57;
    --light-blue:#a198ff;
    --gradient: linear-gradient(45deg, #4E3EDD, #6457FE);
    --bg: #090C2A;
    --overlay1: #221f4a81;
    --overlay2: #1C1A3F;
}

body {
    background: var(--bg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: var(--overlay1);
    border-bottom: solid 1px #090c2aa1;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    z-index: 999;
    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 30px;
    font-family: "intro";
}
h2 {
    font-size: 20px;
    font-family: "intro";
    color: var(--blue);
}

section {
    padding: 0 10vw;
}

section#intro {
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        position: relative;
        filter: url(#goo);
    }

    #face {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        
        width: 112px;
        height: 112px;
        border-radius: 29px;
        font-size: 50px;
        
        background: linear-gradient(-45deg, #4497F0, #48BAF8);
        box-shadow: 0 0 80px #2faad3;
        margin-bottom: 24px;
    }
    
    #box {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 29px;
        /* box-shadow: 0 0 80px #2faad3; */
        animation-name: circle;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes circle {
    0%, 100% {
        top: -10%;
        left: -15%;
        background: #49B6F7;
        /* background: linear-gradient(-45deg, #4497F0, #48BAF8); */
    }
    25% {
        top: -10%;
        left: 75%;
        background: #47A9F4;
    }
    50% {
        top: 65%;
        left: 75%;
        background: #459DF2;
    }
    75% {
        top: 65%;
        left: -15%;
        background: #40A9E4;
    }
}

div#title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    width: 100%;
    margin-bottom: 16px;
    > img {
        width: 44px;
        height: 44px;
    }
    > h1 {
        white-space: nowrap;
    }
}

section#info {
    margin-top: 25vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    > div:last-child h2 {
        min-width: 120px;
        width: 120px;
    }
}

div#info {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    line-break: unset;
    gap: 4px;
    > div {
        display: flex;
        gap: 8px;
        align-items: start;
        font-size: 20px;
    }
}

section#projects {
    margin-top: 300px;
    > div:not(:first-child) {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        gap: 20px;
        > .project {
            cursor: pointer;
            flex-grow: 1;
            border-radius: 12px;
            overflow: hidden;
            --w: 300px;
            --h: 140px;
            width: var(--w);
            height: var(--h);
            max-width: 350px;
            &:hover {
                > div:first-child {
                    height: var(--h);
                    
                    > p {
                        color: var(--light-blue)
                    }
                }
            }
            > div {
                transition: all .5s;
                padding: 20px;
                &:first-child {
                    overflow: hidden;
                    flex-grow: 1;
                    width: 350px;
                    height: 34px;
                    font-size: 14px;
                    padding: 10px 20px;
                    background: no-repeat 50% calc(110px/2), var(--gradient);
                    > div, > p {
                        transition: all .5s;
                        margin-right: 28px;
                    }
                    > div {
                        margin-top: 10px;
                        > h2 {
                            color: #fff
                        }
                        > hr {
                            border: solid 1px var(--blue);
                            margin-bottom: 8px; 
                        }
                        > div {
                            display: flex;
                            gap: 10px;
                            align-items: start;
                            justify-content: start;
                            flex-wrap: wrap;
                            > p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            background-color: var(--overlay2);
            text-decoration: none;
        }
    }
}

.show-line {
    width: 100%;
    height: 1px;
    background-color: var(--blue);
}

@media (1024px > width) {
    section#projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > div {
            margin-top: 40px;
            align-items: center;
            justify-content: center;
        }
    }

    section#info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column
        }
    }
}

@media (width < 550px) {
    section#info {
        align-items: start;
        width: 100%;
        > div {
            width: 100%;
            display: block;
            align-items: start;
        }
    }

    section#projects {
        align-items: start;
    }

    #title > .line {
        width: 100%;
        height: 1px;
        background-color: var(--blue);
    }
}