@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "intro";
  src: url("fonts/intro.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
  color: #fff;
  line-height: normal;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --blue: #6457fe;
  --yellow: #feea57;
  --light-blue: #a198ff;
  --gradient: linear-gradient(45deg, #4e3edd, #6457fe);
  --bg: #090c2a;
  --overlay1: #221f4a81;
  --overlay2: #1c1a3f;
}

body {
  background: var(--bg);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: var(--overlay1);
  border-bottom: solid 1px #090c2aa1;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  z-index: 999;
  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 1.75rem;
  font-family: "intro";
}
h2 {
  font-size: 1.25rem;
  font-family: "intro";
  color: var(--blue);
}

section {
  padding: 0 10vw;
}

section#intro {
  margin-top: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    position: relative;
    filter: url(#goo);
  }

  #face {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;

    width: 112px;
    height: 112px;
    border-radius: 29px;
    font-size: 50px;

    background: linear-gradient(-45deg, #4497f0, #48baf8);
    box-shadow: 0 0 80px #2faad3;
    margin-bottom: 24px;
  }

  #box {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 29px;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes circle {
  0%,
  100% {
    top: -10%;
    left: -15%;
    background: #49b6f7;
  }
  25% {
    top: -10%;
    left: 75%;
    background: #47a9f4;
  }
  50% {
    top: 65%;
    left: 75%;
    background: #459df2;
  }
  75% {
    top: 65%;
    left: -15%;
    background: #40a9e4;
  }
}

div#title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  > img {
    width: 44px;
    height: 44px;
  }
  > h1 {
    white-space: nowrap;
  }
}

section#info {
  margin-top: 25vh;
  flex-wrap: wrap;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  > div:last-child h2 {
    min-width: 120px;
    width: 120px;
  }
}

div#info {
  display: flex;
  flex-direction: column;
  word-break: keep-all;
  line-break: unset;
  gap: 4px;
  > div {
    display: flex;
    gap: 8px;
    align-items: start;
    font-size: 1.25rem;
  }
}

dialog#more-info {
  display: none;
  z-index: 999;

  outline: 0;
  top: 50%;
  left: 50%;

  background-color: #1c1a3f;
  border: 1px solid #9b9bff4d;
  border-radius: 0.75rem;
  width: calc(100% - 20rem);
  padding: 0.75rem 1.25rem;
  transition: all 0.5s;
  transform: translate(-50%, 200%);
  transition-behavior: allow-discrete;

  > h1 {
    font-size: 1.5rem;
    font-family: "intro";
    color: var(--blue);
  }

  &::backdrop {
    transition-behavior: allow-discrete;
    background-color: rgba(53, 80, 255, 0.088);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    opacity: 0;
  }
  &[open] {
    position: fixed;
    display: block;
    transform: translate(-50%, -50%);
    opacity: 1;
    &::backdrop {
      opacity: 1;
    }

    /* 이거 맨 아레 놔둬야함 */
    @starting-style {
      opacity: 0;
      transform: translate(-50%, 200%);
      &::backdrop {
        opacity: 0;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

#close-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

svg {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.01) translateY(-1px);
  }
  &:active {
    transform: scale(0.99) translateY(1px);
  }
}

dialog#more-info > div#header {
  display: flex;
  background-image: var(--img-url);
  background-repeat: no-repeat;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  height: 120px;

  justify-content: end;
}
dialog#more-info > svg {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: #fff;
}

#pages {
  display: inline-flex;
  gap: 0.25rem;
  border-radius: 0.25rem;
  margin-top: 16px;
  /* background-color: #2E2B66; */
  > a {
    display: inline-flex;
    text-decoration: none;
    border-radius: 0.25rem;
    > svg {
      margin: 0.25rem;
    }
  }
}

section#projects {
  margin-top: 300px;
  > div:not(:first-child) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    align-items: center;
    gap: 1.25rem;

    > .project {
      transition: all 0.2s;
      cursor: pointer;
      flex-grow: 1;
      border-radius: 12px;
      overflow: hidden;
      --h: 140px;
      width: 100%;
      height: var(--h);
      &:active {
        transform: scale(0.99) translateY(5px);
      }
      &:hover {
        > div:first-child {
          height: var(--h);

          > p {
            color: var(--light-blue);
          }
        }
      }
      > div {
        transition: all 0.5s;
        padding: 1.25rem;
        &:first-child {
          overflow: hidden;
          flex-grow: 1;
          width: 100%;
          height: 34px;
          font-size: 0.75rem;
          padding: 0.75rem 1.25rem;
          background: no-repeat 50% calc(110px / 2), var(--gradient);
          > div,
          > p {
            transition: all 0.5s;
            margin-right: 1.75rem;
          }
          > div {
            margin-top: 10px;
            > h2 {
              color: #fff;
            }
            > hr {
              border: solid 1px var(--blue);
              margin-bottom: 8px;
            }
            > div {
              display: flex;
              gap: 10px;
              align-items: start;
              justify-content: start;
              flex-wrap: wrap;
              > p {
                font-size: 1rem;
              }
            }
          }
        }
      }
      background-color: var(--overlay2);
      text-decoration: none;
    }
  }
}

.show-line {
  width: 100%;
  height: 1px;
  background-color: var(--blue);
}

@media (1024px > width) {
  section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > div {
      margin-top: 40px;
      align-items: center;
      justify-content: center;
    }
  }

  section#info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  dialog#more-info {
    width: calc(100% - 10rem);
  }
}

@media (width < 550px) {
  section#info {
    align-items: start;
    width: 100%;
    > div {
      width: 100%;
      display: block;
      align-items: start;
    }
  }
  div#info {
    gap: 8px;
  }

  section#projects {
    align-items: start;
  }

  #title > .line {
    width: 100%;
    height: 1px;
    background-color: var(--blue);
  }

  dialog#more-info {
    width: 100%;
  }
}
